<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%if(usuarios.length> 0){%>
        <ul>
        <%usuarios.forEach(i => {%>
            <li><%=i.id%> <%=i.nombre%> <%=i.direccion%> <%=i.telefono%> <%=i.contraseña%> <%=i.cumpleaños%> <%=i.rol%> <%=i.registro%> <%=i.correo%></li>
        <%})%>
    </ul>
    <%}else{%>
        <h1>No hay usuarios en la base de datos</h1>
        <%}%>
</body>
</html>